.login-main {
    /* width: 100vw; */
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/workplace.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background: rgba(26, 20, 20, 0.158);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(26, 20, 20, 0.5);
}

.form input {
    width: 100%;
}